@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    line-height: inherit;
    margin: 0;
    @apply bg-bgColor text-paraColor;
}


.radial {
    box-sizing: border-box;
    position: absolute;
    width: 1131px;
    height: 1131px;
    background: radial-gradient(45.41% 45.41% at 50% 50%, #E81C25 0%, rgba(232, 28, 37, 0) 100%);
    opacity: 0.2;
    border: 1px solid #000000;
    z-index: -1;

}


.title {
    @apply font-bold text-4xl sm:text-5xl md:text-6xl text-headingColor
}

.title-medium {
    @apply font-bold text-2xl sm:text-3xl md:text-4xl text-headingColor
}

.title-2xl {
    @apply font-bold text-xl md:text-2xl text-headingColor
}

.title-small {
    @apply font-bold text-lg sm:text-xl text-headingColor
}
.title-xs {
    @apply font-bold text-lg text-headingColor
}

.title-small-primary {
    @apply font-bold text-xl md:text-2xl text-primary
}

.para {
    @apply text-lg text-paraColor
}
.para-small {
    @apply text-paraColor
}

.glowy-container {
    @apply rounded-2xl border border-[#E81C253F] shadow-[#E81C253F_0px_0px_20px] bg-cardColor;
}

.btn-primary {
    @apply bg-primary hover:bg-stroke border border-primary transition-all rounded-lg py-2 px-5 font-medium text-headingColor cursor-pointer;
}

.glowy-border {
    @apply border-y border-[#E81C253F] bg-cardColor;
}
