@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    line-height: inherit;
    margin: 0;
    @apply bg-bgColor text-paraColor;
}

.router-link-exact-active{
    @apply text-primary
}

.radial {
    box-sizing: border-box;
    position: absolute;
    width: 1131px;
    height: 1131px;
    background: radial-gradient(45.41% 45.41% at 50% 50%, #ffbbbe 0%, rgb(255 255 255 / 50%) 100%);
    /* background: radial-gradient(45.41% 45.41% at 50% 50%, #E81C25 0%, rgba(255, 255, 255, 0) 100%); */
    opacity: 0.2;
    z-index: -1;

}


.title {
    @apply font-bold text-4xl sm:text-5xl md:text-6xl text-headingColor
}

.title-medium {
    @apply font-bold text-2xl sm:text-3xl md:text-4xl text-headingColor
}

.title-2xl {
    @apply font-bold text-xl md:text-2xl text-headingColor
}

.title-small {
    @apply font-bold text-lg sm:text-xl text-headingColor
}

.title-xs {
    @apply font-bold text-lg text-headingColor
}

.title-small-primary {
    @apply font-bold text-xl md:text-2xl text-primary
}

.para {
    @apply text-lg text-paraColor
}

.para-small {
    @apply text-paraColor
}

.glowy-container {
    @apply rounded-2xl border border-stroke shadow-[#fbe5e73F_0px_0px_20px] bg-cardColor;
}

.btn-primary {
    @apply bg-primary hover:bg-red-700 border border-primary transition-all rounded-lg py-2 px-5 font-medium text-bgColor cursor-pointer;
}

.glowy-border {
    @apply border-y border-stroke bg-cardColor;
}

/* ANIMATION */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-3%);
        transform: translateY(-3%);
    }
}

@keyframes slide-top {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-3%);
        transform: translateY(-3%);
    }
}

.anim {
    transition: all 1s;
}

.anim-fade-up {
    opacity: 0;
    filter: blur(2%);
    transform: translateY(10%);
}

.anim-fade-up-active {
    opacity: 1;
    filter: blur(0%);
    transform: translateY(0%);
}


.anim-slide-up {
    transform: translateY(10%);
}

.anim-slide-up-active {
    transform: translateY(0%);
}

@keyframes fade-up {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-up {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


.services-swiper .swiper-pagination span {
    @apply !bg-primary;
}
